
<div class="row row-eq-height">
      <div class="column1_inner">
        <div class="search_column" >
        <h4> SPECS </h4>
          <%= render 'search' %>
        </div>
      
      </div>

      <div class="column2_inner ">
        <% if logged_in? %>
          <%= link_to 'Add new ammunition', new_ammunition_path %>
        <% end %>
   
         <% if !@ammunitions.nil? %>
           <%= render 'search_results' %>
        <% else %>
        <h2> Chose from SPEC list.. </h2>
         <% end %>  
      </div>
</div>
<br>
<br>
