
<div class="row row-eq-height">
      <div class="column1_inner">
        <div class="search_column" >
        <h4> SPECS </h4>
         <%# provide(:title, 'Search Firearms') %>
          <%= render 'search' %>
        </div>
      
      </div>

      <div class="column2_inner ">
        <% if logged_in? %>
          <%= link_to 'Add new firearm', new_firearm_path %>
        <% end %>
        <% if !@firearms.nil? %>
           <%= render 'search_results' %>
        <% else %>
        <h2> Chose from SPEC list.. </h2>
         <% end %>  
      </div>
</div>
<br>
<br>
