<p id="notice"><%= notice %></p>

<p>
  <strong>Firearm:</strong>
  <%= @choosen_arm.firearm_id %>
</p>

<%= link_to 'Edit', edit_choosen_arm_path(@choosen_arm) %> |
<%= link_to 'Back', choosen_arms_path %>
