// Place all the styles related to the firearms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_class {
    width: 80%;
    background-color: #F7F7F7;
    border: 2px solid;
    border-color: #BE2D2D;
}

.button {
    color: #BE2D2D;
}